.reto {
  background: white;
  opacity: 0.6;
  color: #000;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: all 0.1s ease-in-out;
  border: 1px solid #000;
  border-radius: 20px;
  text-decoration: none;
  display: flex;
  padding-right: 30px;
}
.reto:hover {
  opacity: 0.5;
  transform: scale(1.01);
}

.reto_img {
  width: 100px;
  height: 50px;
  image-rendering: auto;
}

.reto_title {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 10px;
}

.title {
  text-decoration: none;
  color: #000;
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin: 0 30px;
  padding: 0;
  width: 100%;
}